body {
  font-family: Lato, sans-serif;
  font-weight: normal;
}

.sidebar .btn, .products__item-title, h1 {
  font-family: Lato, sans-serif;
  font-weight: bold;
}

.header__bottom .dropdown-toggle::after {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

body {
  color: #17181A;
  font-size: 15px;
  background-color: #F4F4F4;
}

a {
  text-decoration: none;
  color: #17181A;
}

.btn-unstyled {
  border: none;
  outline: none;
  background-color: initial;
}

.bg-light {
  background-color: white !important;
}

h1 {
  font-size: 28px;
  line-height: 30px;
}

.header__top {
  padding: 5px 0;
}
.header a {
  font-size: 13px;
}
.header a span {
  padding-left: 17px;
}
.header__bottom {
  min-height: 98px;
  box-shadow: 0 6px 12px rgba(72, 79, 78, 0.17);
}
.header__bottom .navbar-brand img {
  max-width: 262px;
}
.header__bottom .nav-search {
  padding: 0 69px 0 50px;
}
.header__bottom .nav-search i {
  color: #17181A;
}
.header__bottom .nav-item:not(.nav-search) a {
  color: #17181A;
}
.header__bottom .nav-item:not(.nav-search):not(:last-child) {
  padding-right: 30px;
}
.header__bottom .dropdown-toggle::after {
  background-image: url("../assets/arrow.svg");
  width: 8.5px;
  height: 4.5px;
  border: none;
}
.header__bottom-right a {
  font-size: 25px;
}
.header__bottom-right a:not(:last-child) {
  padding-right: 17px;
}
.header__bottom-right a i.bi-cart3 {
  font-size: 20px;
}

.breadcrumb {
  padding: 11px 0;
}
.breadcrumb li {
  color: #43464C;
  font-size: 13px;
}
.breadcrumb li a:hover {
  color: #73962C;
}
.breadcrumb .active a {
  color: #73962C;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: url("../assets/line.svg");
  margin-top: -3%;
}

.products__item {
  position: relative;
  padding-bottom: 34px;
  background: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  max-width: 282px;
}
.products__item-tags {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 1;
}
.products__item-tags a:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.products__item:hover {
  transition: 0.3s;
  transform: scale(1.01);
  color: #73962C;
  cursor: pointer;
}
.products__item-img {
  overflow: hidden;
  position: relative;
  min-height: 285px;
}
.products__item-carousel {
  position: absolute;
  left: 0;
  transition: left 0.3s;
}
.products__item:hover .products__item-carousel {
  left: -285px;
}
.products__item-info {
  font-size: 17px;
  line-height: 22px;
  padding-top: 24px;
}
.products__bootom {
  border: none;
}
.products__bootom p {
  color: #515151;
  font-size: 17px;
}
.products__bootom .disabled {
  background-color: #E5E5E5;
}
.products__bootom .active {
  background-color: #99C63C;
  border: none;
}

.sidebar .btn {
  border: none;
  color: #2268B4;
  font-size: 17px;
  padding: 0;
  margin-bottom: 12px;
}
.sidebar .btn:hover {
  border: none;
}
.sidebar .btn::after {
  content: url("../assets/icn_arrow_up.svg");
  width: 9px;
  height: 9px;
}
.sidebar__item li {
  margin-bottom: 12px;
}
.sidebar__check .form-check-input {
  width: 22px;
  height: 22px;
}
.sidebar__check-title {
  margin-left: 12px;
}
.sidebar__check .context {
  color: #BDBDBE;
  margin-left: 8px;
}

/*# sourceMappingURL=style.css.map */
