.footer{

  @include xx-large-max(){
    &__contacts{
      margin-right: 36px;
    }
    &__form{
      margin-left: 0;
    }

    &__item{
      padding: 0;
    }
  }

  @include x-large-max(){
    &__contacts {
      margin-right: 20px;
    }
    &__form {
      margin-left: 20px;
    }

    &__item {
      padding: 0;
      margin-right: 40px;
    }
    form{
      button{
        margin-top: -110px;
      }
      i{
        margin-left: 187px;
      }
    }

  }

  @include large-max(){
    &__item{
      margin-right: 0;
      margin-top: 20px;
    }

    &__form{
      margin-left: 0;
      margin-top: 20px;
    }

    form{
      button{
        margin-top: 0;
      }
      i{
        margin-left: -100px;
      }
    }


    input{
      padding: 13px 423px 13px 29px;
      max-width: 900px;
    }
  }

  @include medium-max(){

    &__form {
      margin-left: 0!important;
    }

    &__item{
      padding: 0;
      margin-top: 20px;
      margin-right: 20px;
    }

    input {
      padding: 13px 237px 13px 29px;
      max-width: 700px;
    }
  }

  @include small-max(){

    &__contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }

    h3{
      font-size: $font-size_lg;
    }
    &__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: $font-size_md;
      margin-right: 0;

      ul{
        li{
          text-align: center;
        }
      }
    }

    &__form{
      margin-right: 0;

      form{
        display: flex;
        align-items: center;
        flex-direction: column;

        .form-group{
          margin-left: 20px;
        }
      }

        input{
          max-width: 100%;
          padding: 13px 10px 13px 29px;
        }

        .dropdown{
          display: flex;
          justify-content: center;
        }


      h3{
        text-align: center;
      }

      &-media{
        flex-wrap: wrap;
        justify-content: center;
      }

    }
  }
}