.view {

  .dropdown{
    max-width: 216px;
    .btn{
      max-width: 216px;
      padding: 16px 25px;
      background-color: $light-color;
      color: $main-color;
      border-radius: 40px;
      border: none;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__form-wrapper {
    padding: 0 0 0 30px;
  }

  form {
    margin-left: 40px;
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 13px;
      margin-right: 17px;
    }

    input{
      padding: 16px 23px 16px 39px;
      border: none;
      border-radius: 53px;
    }

    input[type=search] {
      padding-right: 45px;
    }

  }

}