.products{

  @include x-large-max(){
    &__list{
      margin-left: calc(#{$filter-width} + 30px + 14px);
    }

    &__item-wrapper{
        max-width: calc(100%/2);
    }

    &__item{
      &-img{
        min-height: 230px;
      }
    }
  }

  @include large-max(){
    &__filter{
      max-width: 100%;
      padding: 0;
      background-color: transparent;
      z-index: 2;

      &-description{
        visibility: hidden;
      }

      .accordion{
        display: none;
        width: 95%;
        &-button{
          padding: 16px;
        }
      }

      [type="checkbox"]:checked + .accordion{
        display: block;
      }

      &-btn{
        display: block;
        margin-top: -32px;
      }
    }

    &__list{
      margin-top: 60px;
      margin-left: 0;
      margin-right: 0;
    }

    &__item{
      &-wrapper {
        max-width: calc(100%/2);
      }

      &-info{
        margin-top: 0;
      }

      &-img{
        min-height: 230px;
      }
    }
    &__bottom{
      &-wrapper{
        flex-direction: column;
      }
    }
  }
  @include small-max(){
    .row{
      padding: 0;
    }

    &__filter{
      max-width: 100%;
    }


    &__item {
      max-width: 216px;
      width: 100%;
      padding: 0;
      &-wrapper {
        max-width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &__bottom {
      padding: 0;

      .pagination {
        justify-content: center;
        .page-item{
          i{
            font-size: 14px;
          }
        }

        .page-number {
          padding: 4px 14px;
        }

        .btn{
          padding: 4px 14px;
        }

        .description{
          font-size: $font-size_xs;
        }
      }
    }
  }
}
