.products {
  overflow: hidden;
  margin-bottom: 46px;

  &__container {
    position: relative;
  }

  &__filter {
    padding: 13px 16px;
    max-width: $filter-width;
    position: absolute;
    width: 100%;
    left: calc(var(--bs-gutter-x) * .5);
    background-color: white;
    border-radius: 16px;

    &-result{
      color: $second-color;
      font-size: $font-size_xs;
    }

    &-clear{
      color: $accent-color;
      font-size: $font-size_xs;
      &:before{
        content: url("../assets/icon_close.svg");
        width: 12px;
        height: 12px;
        top: 0;
        left: 0;
        margin-right: 5px;
        margin-top: 2px;
      }

      &:hover{
        color: #FF4545;
      }
    }

    &-btn {
      display: none;
      width: 95%;
      color: $light-color;
      background-color: $bright-btn-color;
      border-radius: 40px;

      &:hover{
        background-color: $light-color;
        color: $colorful;
      }
    }

    #filter{
      display: none;
    }

    .accordion{

      &-item{
        border: none;
        &:not(:last-child){
          border-bottom: 1px solid #E2E2E2;
        }
      }

      &-body{
        padding: 12px 0 12px 17px;
      }

      &-button{
        padding: 16px 0;
        border: none;
        color: $colorful;
        @extend %font-lato-bold;
        font-size: $font-size_md;
        max-width: 216px;

        &:hover{
          border: none;
        }

        &:not(.collapsed){
          box-shadow: none;
          background-color: transparent;
        }
      }
    }

    &-check{
      input{
        width: 22px;
        height: 22px;
      }

      .context{
        color:$secondary-color;
        margin-left: 8px;
      }
    }

    &-title{
      margin-left: 12px;
    }
  }

  &__list {
    //padding-left: 30px;
    //margin-right: calc(-14px * 2);
    //margin-left: calc(#{$filter-width} + 30px);

    padding-left: 30px;
    margin-right: calc(-14px * 2);
    margin-left: calc(216px + 30px);
  }

  &__item-wrapper {
    padding: 0 14px 14px 0;

    max-width: calc(100%/3);
  }

  &__item {
    position: relative;
    padding-bottom: 34px;
    background: $light-color;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 16px;

    &-tags {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      z-index: 1;

      a:hover {
        transition: .3s;
        transform: scale(1.1);
      }
    }

    &:hover {
      transition: .3s;
      transform: scale(1.01);
      color: $bright-color;
      cursor: pointer;
    }

    &-img {
      overflow: hidden;
      position: relative;
      min-height: 285px;
    }

    &-carousel {
      position: absolute;
      left: 0;
      transition: left .3s;
    }

    &:hover &-carousel {
      left: -285px;
    }

    &-info {
      font-size: $font-size_md;
      line-height: 22px;
      padding-top: 24px;
    }

    &-title {
      @extend %font-lato-bold;
    }
  }


  &__bootom{
    margin-top: 34px;

    .pagination {
      border: none;
    }

      .btn{
        padding: 10px 40px;
      }

      li{
        margin-right: 14px;

        &:last-child{
          margin-right: 0;
        }

        .description{
          color: $second-color;
          font-size: $font-size_md;
        }
      }

      .page-item{
        i{
          color: $light-color;
          font-size: 20px;
        }

        .page-link{
          border-radius: 100px;
        }

        &:first-child .page-link{
          border-radius: 100px;
          background-color: #E5E5E5;
        }

        &:last-child .page-link{
          border-radius: 100px;

          background-color: $bright-btn-color;
          border: none;

          &:hover{
            background-color: $bright-color;
          }
        }


      .page-number{
        padding: 6px 30px;
        color: $main-color;

        &:hover{
          background-color: $light-color;
        }
      }
    }

  }

  &__bootom-number{
    .dropdown{
      &-btn{
        padding: 6px 22px;
        @extend %font-lato-bold;
        font-size: $font-size_md;
        color: $main-color;
        border-radius: 100px;
        background-color: $light-color;
      }
    }
  }
}