.page-title{
  padding: 11px 12px;
  .breadcrumb {
    margin-bottom: 10px;
    li {
      color: $link-color;
      font-size: $font-size_sm;

      a {
        &:hover{
          color: $bright-color;
        }
      }
    }

    .active {
      a {
        color: $bright-color;
      }
    }

    &-item+&-item::before{
      content: url("../assets/line.svg");
      margin-top: -3%;
    }
  }
}
