:root{
  $bs-green:  #99C63C;
  $bs-pagination-border-radius: 100px;
}

body {
  @extend %font-lato-regular;
  color: $main-color;
  font-size: $font-size_base;
  background-color: $background-color;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: $main-color;
}

.btn-unstyled {
  border: none;
  outline: none;
  background-color: initial;
}

.bg-light{
  background-color: $light-color!important;
}

h1{
  @extend %font-lato-bold;
  font-size: $font-size_lg;
  line-height: 30px;
}

h3{
  color:$light-color;
  @extend %font-lato-bold;
  font-size: $font-size_md;
}