$main-color: #17181A;
$second-color: #515151;
$secondary-color: #BDBDBE;
$accent-color: #EB5757;
$second-accent-color: #FF4545;
$bright-color: #73962C;
$light-color: white;

$background-color:#F4F4F4;
$bright-btn-color: #99C63C;
$secondary-btn-color: #F3F3F3;
$colorful: #2268B4;

$font-size_lg: 28px;
$font-size_md: 17px;
$font-size_base: 15px;
$font-size_sm: 13px;
$font-size_xs: 12px;


